.App-intro {
  font-size: large;
}

.AcheiveHead{
	padding: 50px;
	font-size: 2.5em;
}

.AcheiveTbl{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    text-align:center;
    font-size: 1.5em;
    color: #FFFFFF;

}

.AcheiveIntro{
	padding: 20px; 
	font-size: 2em;
	color: #FFFFFF;
}

.ssStyle{
	background-color: #0000FF;
	vertical-align: top; 
    height:auto; 
}

.Acheivediv{
	width:100%;
	margin-top:20px;
}

.Acheivep{
	padding: 10px; 
	font-size: 1em;
	color: #FFFFFF;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

iframe{
	height: 150vh;
	width: 100vw;
	position:absolute;
	top:0;
	left:0;
}

.iframediv{
	background-color: yellow;
	position:relative;
}

.abtTxt{
	padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}